$color_pale: #E7E7E7;
$color_disabled: #868686;
$color_main: #364844;
$color_cyan-lightest: #00D29F;
$color_cyan-light: #0DBC91;
$color_cyan-medium: #1FA181;
$color_cyan-dark: #1FA181;
$color_cyan_pale: #E2F0EF;
$color_cyan_white: #F8FBFA;
